<hr class="hr m-5" />
<div class="card shadow m-3 mt-5 text-center">

  <div class="card-header bg-primary bg-opacity-50">
    <p class="m-3">Create an Account</p>
    <hr class="hr" />
    <p>Username must be more than 4 characters <br>
      Password must be more than 4 characters</p>
  </div>

  <div class="card-body">
    <input class="m-2" placeholder="Username" [(ngModel)]="newAccount.username">
    <input placeholder="Password" [(ngModel)]="newAccount.password">
  </div>

  <div class="card-footer">
    <button class="btn btn-primary" (click)="onCreateAccountClick()">Create Account</button>
  </div>

</div>
