<div class="border shadow m-3">

  <div class="text-center">
    <h1 class="display-3 m-3">Manage List of Events</h1>
  </div>

<!--  filter events-->
  <div class="card m-3">
    <div class="card-header">
      <h4 class="text-center">Search for events by date range</h4>
    </div>
    <div class="card-body m-3 d-flex justify-content-evenly">
      <span>
        <label class="m-1">Event begins on: </label>
        <input class="m-1" type="date" [(ngModel)]="startDate">
      </span>
      <span>
        <label class="m-1">Event ends on: </label>
        <input class="m-1" type="date" [(ngModel)]="endDate">
      </span>
    </div>
    <div class="d-flex justify-content-evenly mb-3">
      <button class="btn btn-primary w-25" (click)="filterEventList()">Search</button>
    </div>
    <div class="d-flex justify-content-evenly mb-3">
    <button class="btn btn-primary" (click)="resetEventsList()">Rest Events List</button>
    </div>
  </div>

<!--  show entire list of events-->
  <div *ngIf="isFilterEvent == false" class="w-100">
    <ngb-accordion>
      <ngb-panel *ngFor="let event of eventsList"
                 title="{{event.eventName | slice:0:3}} - {{event.eventDate | date: 'shortDate'}}">
        <ng-template ngbPanelContent>
          <app-event
            [invite]="eventInviteList"
            [event]="event"
          ></app-event>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>

<!--  show filtered list of events-->
  <div *ngIf="isFilterEvent == true" class="w-100">
      <ngb-accordion>
        <ngb-panel *ngFor="let event of filteredEventList" title="{{event.eventName | slice:0:3}} - {{event.eventDate | date: 'shortDate'}}">
          <ng-template ngbPanelContent>
            <app-event
              [invite]="eventInviteList"
              [event]="event"
            ></app-event>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>

</div>
