<div class="border shadow m-3">

  <div class="text-center">
    <h1 class="display-3 m-3">Manage List of Events</h1>
  </div>

<!--  <div class="d-flex flex-wrap justify-content-evenly m-3">-->
<!--    <app-event-->
<!--      *ngFor="let event of eventsList"-->
<!--      [event] = "event"-->
<!--    ></app-event>-->
<!--  </div>-->

  <div class="w-100">
    <ngb-accordion>
      <ngb-panel *ngFor="let event of eventsList" title="{{event.eventName | slice:0:3}} - {{event.eventDate | date: 'shortDate'}}">
        <ng-template ngbPanelContent>
          <app-event
            [invite]="eventInviteList"
            [event]="event"
          ></app-event>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>

</div>
