<div class="border shadow m-3">
  <h1 class="display-3 text-center m-3">Create a New Event</h1>
  <div class="input-group m-3" style="width: auto;">
    <div class="input-group mb-3">
      <span class="input-group-text">Event Date</span>
      <input type="date" class="form-control">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Event Name</span>
      <input type="text" class="form-control">
    </div>
    <div class="m-3">
      <div>Invite: </div>
    </div>
    <div>
      <button class="btn btn-success m-3">Create Event</button>
    </div>
  </div>
</div>
