<div class="border shadow m-3">

  <h1 class="display-3 text-center m-3">Create a New Event</h1>

  <div class="input-group m-3" style="width: auto;">

    <div class="input-group mb-3">
      <span class="input-group-text">Event Date</span>
      <input type="date" class="form-control" [(ngModel)]="newEvent.eventDate">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Event Name</span>
      <input type="text" class="form-control" [(ngModel)]="newEvent.eventName">
    </div>

    <div class="w-100">
      <ngb-accordion>
        <ngb-panel title="Invite Available Users">
          <ng-template ngbPanelContent>
            <app-invite-list
              *ngFor="let user of accountList"
              [accountList]="user"
              ></app-invite-list>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>

    <div class="container m-3 d-flex justify-content-evenly">
      <button class="btn btn-success" (click)="onCreateEventClick()">Create Event</button>
    </div>

  </div>
</div>
