<div class="card m-3 shadow w-100" style="width: 20rem">
  <div class="card-header bg-success bg-opacity-50">
    <h3>Event Date: <span *ngIf="isUpdating == false">{{event.eventDate | date: 'fullDate'}}</span> </h3>
  </div>
  <div class="card-body">
    <label>Event Name: <span *ngIf="isUpdating == false">{{event.eventName}}</span></label>
    <input *ngIf="isUpdating == true" [(ngModel)]="event.eventName">
    <div>Invite List: {{invite.username}}
    </div>
  </div>
  <div class="card-footer">
    <div *ngIf="isUpdating == false" class="container d-flex justify-content-evenly">
      <button class="btn btn-danger" (click)="onDeleteClick(event.id)">Delete Event</button>
      <button class="btn btn-warning" (click)="onEditEventClick()">Edit Event</button>
    </div>
    <div *ngIf="isUpdating == true" class="container d-flex justify-content-evenly">
      <button class="btn btn-warning" (click)="onSaveEditEventClick(event)">Save</button>
      <button class="btn btn-secondary" (click)="onCancelEditEventClick()">Cancel</button>
    </div>
  </div>
</div>
